---
layout: default
---

<div class="home">

  <!-- section for featured post -->
  
  <section class="site-section">
      <div class="wraper">
        <h1>featured article</h1>
        {% assign count = 0 %}
        {% for post in site.categories['blog'] %}
          {% if post.featured == true and count == 0 %}
            <div class="post post-featured">
              {% include post.html %}
            </div>
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor  %}
      </div>
  </section>
  
  <!-- section for featured projects -->
  
   <section class="site-section">
      <div class="wraper">
        <h1>featured projects</h1>
        <ul class="project-list">
          {% for project in site.categories['project'] | limit:4 %}
            {% if project.featured == true %}
              {% include project.html %}
            {% endif %}
          {% endfor  %}
        </ul>
      </div>
  </section>
  <!-- section for featured articles -->
  
  <section class="site-section site-section-last">
      <div class="wraper">
        <h1>lasted articles</h1>
        <ul class="post-list">
          {% for post in site.categories['blog'] | limit:4 %}
            <li class="post">
              {% include post.html %}
            </li>
          {% endfor  %}
        </ul>
      </div>
  </section>
</div>
