<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-content">
      <h3>Lorem</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non cumque maxime sunt error! Ex ea quibusdam suscipit esse nostrum quod pariatur id hic, dolore placeat consequuntur, accusantium aut necessitatibus magnam.</p>
      <p>Subscibe <a href="{{ '/feed.xml' | prepend: site.baseurl  }}">via RSS</a></p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
           <a href="https://twitter.com/{{ site.twitter_username  }}">
             <img src="/images/twitter.png" alt="twitter" width="40">
           </a>
        </li>
        <li>
           <a href="https://github.com/{{ site.github_username }}">
             <img src="/images/github.png" alt="github" width="40">
           </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
