#project-detail{
  img.icon{
    width: 50%;
  }
  .legend{
    margin-top: 60px;
  }
  #banner{
    background-size: 100%;
    background-position: center;
    h2, h5{
      color: white;
    }
    #stores{
      margin-top: 10px;
    }
  }
}