/* Small only */
@media screen and (max-width: 39.9375em) {
  .navbar{
    img.logo{
      max-height: 50px;
      position: relative;
      top: -16px;
    }
    &.navbar-default {
      line-height: auto;
    }
  }
}