#skills-list{
  .skill{
    text-align:center;
    margin: 30px auto;
    i.fa{
      color:  $nb-color-primary;
      font-size: 50px;
    }
    .skill-title > a{
      color: $nb-color-primary;
    }
  }
}