<section class="section" id="cover-home">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 bio">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <img src="images/photo.jpg" class="img-responsive" alt="photo">
          </div>
          <div class="col-sm-8 col-md-8">
            <span class="greet">¡Hola!</span>
            <h1>Soy Nicolas Molina <a class="btn" href="{{ site.twitter }}" target="_blank">
                <i class="fa fa-twitter fa-2x"></i>
              </a></h1>
            <h3>Desarrollador FrontEnd & Mobile Apps</h3>
            <hr/>
            <p>Soy desarrollador web especializado en el area de <span class="tag">#FrontEnd</span> & <span class="tag">#HybripApps</span>, enfocado en aprendizaje de <span class="tag">#JS</span> y al desarrollo de apps con <span class="tag">#Angular2</span> y <span class="tag">#Ionic2</span>.</p>
            <p> Mis pasiones son el desarrollo de productos, compartir con las <span class="tag">#comunidades</span> de desarrollo y <span class="tag">#viajar</span> por todo el mundo.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 social">
         <div class="row">
            {% for social in site.social  %}
            <div class="col-xs-2 col-sm-1">
              <a class="btn" href="{{ social.link }}" target="_blank">
                <i class="fa fa-{{ social.icon }} fa-2x"></i>
              </a>
            </div>
            {% endfor %}
         </div>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="scroll"> <i class="fa fa-angle-down" aria-hidden="true"></i> </br> Scroll</p>
        
      </div>
      
    </div>
  </div>
  -->
</section>