<section class="section" id="skills-list">
    <div class="container">
        <div class="row centered">
          <div class="col-md-4 skill">
            <i class="fa fa-code"></i>
            <h3 class="skill-title">
              <a href="{{ post.url | prepend:site.baseurl }}">Desarrollo web y mobil</a>
            </h3>
            <p>
            Articulos sobre las tecnicas de desarrollo web y mobiles, tanto de tecnoologías backend y frontend, basadas en las mejores practicas de programación y codido limpio, y por supuesto demos y labs todo el codigo en gitHub.
            </p>
            <p class="post-read-more-link">
              <a class="btn btn-success" href="{{ post.url | prepend:site.baseurl }}">Ver articulos..</a>
            </p>
          </div>
          <div class="col-md-4 skill">
            <i class="fa fa-certificate"></i>
            <h3 class="skill-title">
              <a href="{{ post.url | prepend:site.baseurl }}">Lider de comunidades</a>
            </h3>
            <p>
            Compartir y aportar a las comunidades hace parte de mis pasiones, por aqui cada una de las vivencias en meetups, hacktones, conferencias y toda clase de eventos tecnologicos.
            </p>
            <p class="post-read-more-link">
              <a class="btn btn-success" href="{{ post.url | prepend:site.baseurl }}">Ver articulos..</a>
            </p>
          </div>
          <div class="col-md-4 skill">
            <i class="fa fa-flask"></i>
            <h3 class="skill-title">
              <a href="{{ post.url | prepend:site.baseurl }}">Testing</a>
            </h3>
            <p>
            Una de las formas para aumentar la calidad del prodcuto y por consecuencia del codigo es toda el area de testing, asi aqui varios articulos acerca de este tema. Enfocado en todo el espectro de pruebas como E2E o Unit Testing.
            </p>
            <p class="post-read-more-link">
              <a class="btn btn-success" href="{{ post.url | prepend:site.baseurl }}">Ver articulos..</a>
            </p>
          </div>	 				
        </div>
    </div>
</section>