@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .section {
    overflow: hidden;
    position: relative;
    height: 90vh;
    min-height: 800px;
    max-height: 1200px;
    padding: 7vmax;
  }
}