/* Large and up */
@media screen and (min-width: 64em) {
  .section {
    overflow: hidden;
    position: relative;
    height: 90vh;
    min-height: 800px;
    max-height: 1200px;
    padding: 7vmax;
  }
}