

/* Small only */
@media screen and (max-width: 39.9375em) {
  
  #project-detail{
    img.icon{
      width: 50%;
    }
    .legend{
      margin-top: 60px;
    }
  }
  #portfolio-list{
    background-color: red;
    h1{
      display: block;
      text-align: right;
    }
    p{
      display: block;
      text-align: right;
      margin: 1em 0 0 auto;
      max-width: 500px;
    }
    .btn-success{
      margin-top: 10px;
      float: right;
    }
  }

  .js body.grid-loaded::after {
    opacity: 0;
  }
}




